.App {
  background: linear-gradient(
      0deg,
      rgba(255, 153, 0, 0.21) 0%,
      rgba(255, 153, 0, 0.21) 100%
    ),
    url("./daytime-background.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: fit-content;
  margin: 0 auto;
}
